#!/bin/bash
# {{ ansible_managed }}

{% for item in certbot_create_dns_renew_hook_services %}

{% if item == 'haproxy' %}
echo $RENEWED_LINEAGE > /tmp/RENEWED_LINEAGE.certbot.txt
echo $RENEWED_DOMAINS  > /tmp/RENEWED_DOMAINS.certbot.txt
{% endif %}

{% endfor %}
