dns_rfc2136_server = "{{ item.server }}"
dns_rfc2136_port = "{{ item.port }}"
dns_rfc2136_name = "{{ item.key_name }}"
dns_rfc2136_secret = "{{ item.secret }}"
dns_rfc2136_algorithm = "{{ item.algorithm }}"
